*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0C0C0D;
}


.container{
    width: 375px;
    background-color: #252526;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 7px;

}

header{
    background-image: linear-gradient(335deg, #93a9ff 0, #3c78f2 50%, #004ccc 100%);
    height: 66px;
    border-radius: 7px 7px 0 0;
    
}

h1{
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    color:  #F4F4F4;
    text-align: center;
    padding-top: 22px;

}

main{
    padding: 24px;
}

label{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color:  #FFFFFF;
}

select{
    background-color: #252526;
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px 0px #00000026;
    margin-top: 6px;
    margin-bottom: 24px;
    color: #A6A6A6;

}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input{
    color: #FFFFFF;
    border: 1px solid #BBBBBB;
    background-color: #252526;
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px 0px #00000026;
    margin-top: 6px;
    margin-bottom: 24px; 
    font-size: 15px;
}

button{
    height: 48px;
    width: 100%;
    border-radius: 25px;
    background-image: linear-gradient(335deg, #93a9ff 0, #3c78f2 50%, #004ccc 100%);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #F4F4F4;
    margin-bottom: 36px;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.7;
}

section{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}


img{
    width: 44px;
    height: 44px;
}


.section-container{
    text-align: center;
    padding: 10px;
}

.currency-name{   
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color:  #777777;
    padding: 4px 0px 2px 0px;

}

.current-value{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
}

.arrow-img{
    width: 35px;
    height: 49.81px;
    margin: 15px auto;
    display: block;
}
